/* Footer.module.css */
.footerContainer {
    background-color: #2a4658;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.contactContainer {
    max-width: 600px;
    align-self: center;
    font-size: 12px;
}

.contactTitle {
    font-size: 14px;
    margin-bottom: 10px;
}

.contactDescription {
    margin-bottom: 20px;
}

.whatsappButton {
    background-color: #25d366;
    color: #fff;
    padding: 10px 20px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.whatsappButton:hover {
    background-color: #128c7e;
}

.defaultInfoContainer {
    margin-top: 30px;
    text-align: center;
    font-size: 12px;
    padding-bottom: 2em;
}

.defaultInfoContainer h3 {
    font-size: 14px;
    color: #fff;
}

.defaultInfoContainer p {
    color: #ddd;
}

/* Responsividade para dispositivos menores */
@media (max-width: 600px) {
    .footerContainer {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .contactContainer,
    .defaultInfoContainer {
        width: 100%;
        max-width: none;
        font-size: 14px;
    }

    .whatsappButton {
        font-size: 14px;
        padding: 8px 16px;
    }

    .contactTitle {
        font-size: 16px;
    }

    .defaultInfoContainer h3 {
        font-size: 16px;
    }
}
