/* CSS */
.homeContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.sessionContainer,
.productContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
}

.sectionTitle {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.serviceCard,
.productCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    max-width: 300px;
    width: 100%;
}

.serviceCard:hover,
.productCard:hover {
    transform: scale(1.05);
}

.cardImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.cardContent {
    padding: 15px;
    text-align: center;
}

.cardTitle {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.cardDescription {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #555;
}


.cardButton {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.serviceCard a {
    text-decoration: none;
    color: #333;
}

/* Responsividade para dispositivos menores */
@media (max-width: 600px) {
    .sectionTitle {
        font-size: 20px;
    }

    .cardTitle {
        font-size: 1rem;
    }

    .sessionContainer,
    .productContainer {
        grid-template-columns: 1fr;
    }

    .serviceCard,
    .productCard {
        max-width: 90%;
    }
}
