.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2a4658;
    padding: 1em 3em;
}

.logo {
   align-self: center; 
}

.navLinks {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.navLink {
    margin-right: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; 
}

.navLink:hover {
    color: #252728;
}

.logoImage {
    width: 200px;
    height: auto;
}